doctype
html(lang="en")
  head
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(type="text/javascript" src="js/PixelPainter.js")
    script(type="text/javascript" src="js/app.js")
    meta(charset="UTF-8")
    link(href="css/styles.css" rel="stylesheet" media="screen")
    title Pixel Painter PICTURE
  body
    h1 Pixel Painter
    div#container
    div#files
